<div class="jumbotron text-center">
	<h1>ImageProfile</h1>
	<p id="exp">Build a profile and add images of your favorite things to share with the world!</p>
</div>

<nav class="navbar navbar-expand-md bg-dark navbar-dark" id="mainNav">
	<a href="#" class="navbar-brand">ImageProfile</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOptions"><span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarOptions">
		<ul class="navbar-nav">
			<% if(loggedIn) { %>
				<li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
				<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>				
				<li class="nav-item"><a class="nav-link" href="/search">Image Search</a></li>				
			<% } %>
		</ul>
	</div>
</nav>
