.container-fluid {
	background-color: rgba(255, 0, 0, .75);
	padding-top: 25px;
}
.userInfo, .mainRow, .mainContainer {
	height: 100%;
}

.likeImage {
	width: 200px;
	height: 200px;
}

.card {
	width: 50%;
	margin-top: 50px;
}

#cardContainer {
	background-color: rgba(255, 0, 0, .75);
}

#profilePicture {
	margin-top: 20px;
	padding-top: 0px;
	background-color: white;
	max-width: 200px;
	max-height: 275px;
	margin: auto;
}

#informationTitle {
	text-decoration: underline;
}
